.THIS {
     font-family: 'Salesforce Sans';
}

.THIS h1{    
    text-align: left;
    padding: 8px;
}

.THIS .form-box{

}

.THIS .slds-modal__container{
    max-width:80rem !important;
    width:80% !important;
}

.THIS .slds-form_stacked{
    width: 40%;
    margin-left: 30%;
    display:flex;
}

.THIS .my-icon {
    --sds-c-icon-color-foreground-default: white;
}

.THIS .search-button{
    background: #FFFFFF;
    border: 1px solid #DF2027;
    box-sizing: border-box;
	height: fit-content;
    border-radius: 4px !important;
    color: #DF2027;
	font-family: 'Salesforce Sans';
}
    
.THIS .add-button{
    background: #c9c7c5;
    border: 1px solid #C9C7C5;
    box-sizing: border-box;
        height: fit-content;
    border-radius: 4px !important;
    color: #FFFFFF;
    margin-left: 5px;
	font-family: 'Salesforce Sans';
}

.THIS .clear-button{
	background: #DF2027;
	border: none;
    box-sizing: border-box;
    border-radius: 4px !important;
    color: #FFFFFF;
    margin-left: 5px;
	height: fit-content;
	font-family: 'Salesforce Sans';
}
    
.THIS .pdf-button{
    background-color: rgb(69, 198, 90);
    color: white;
    height: fit-content;
	border-radius: 4px !important;
    margin-left: 5px;
}
    
.THIS .pdf-ex-button{
    background-color: rgb(0, 109, 204);
    height: fit-content;
    margin-left: 5px;
	border-radius: 4px !important;
    color: white;
}

.THIS .lightning:layout{
    height : 78px;
}

.THIS .buttons-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
    
.THIS .buttons-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.THIS .search-button:hover{
   transform: translateY(-1px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);            
}

.THIS input:focus, .THIS select:focus{
    border-color:#DF2027 !important;
}

.THIS .slds-cell-fixed{
    background: #DF2027;
}

.THIS .slds-th__action{    
    background: #DF2027;
    color: white;
}

.THIS .slds-th__action:hover{    
    background: #DF2027;
}
.THIS .slds-th__action:focus{    
    background: #DF2027;
}

.THIS .page-title{
    font-family: 'Salesforce Sans';
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
}

.THIS .slds-th__action .slds-button{
    color:white;
}

.THIS .slds-button_icon-bare{
 display: none !important;
} 
.THIS legend{
    width: 3%;
}
    
.THIS .slds-form-element__label{
        float: left;
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }
.THIS .slds-table_header-fixed_container{
    height: 80% !important;
}    
.THIS .slds-card__header{
    border-bottom: 1px solid lightgray;
    background-color: #DF2027;
	color: white;
    padding: 7px;
    margin: 0;
}
    
.THIS .slds-card__footer{
  padding-top: 0;
}

@media screen and (max-width: 768px) {
    .THIS #firstTable{
        margin-bottom: -80px;
        width: 100% !important;
    }
    .THIS #secondTable{
        width: 100% !important;
    }
    .THIS #tableDiv {
        display: flex;
        height: 760px !important;
        flex-direction: column !important;
        flex-wrap: nowrap;
    } 
}

.THIS .slds-form-element__label{
    font-size: 14px;
    font-weight: 300;
}

    
@media screen and (max-width: 900px) {
	.THIS fieldset{
          min-width: 100%;
     }
	.THIS .slds-grid{
     	display: flex;
    	flex-direction: column;
        width: 100%;
	}
    .THIS .left-align{
        width: 100%;
    }
    .THIS .list-button{
        margin-top: 1rem; 
    }
    .THIS .query-button{
        margin-top: 1rem; 
    }
    .THIS .variant-button{
        margin-top: 1rem; 
    }
    .THIS .right-align{
		text-align: right;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%; 
    }
	.THIS .slds-size_6-of-12{
		width: 100% !important; 
        margin: 0 !important;
     }
     .THIS .searchButton{
        margin-left: 5px;
        margin-right: -5px;
    }
    .THIS .buttons-area{
		display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
     }
     .THIS .buttons-area button{
      	width: 100%;      
      }
}