.THIS body {
    font-family: 'lato', sans-serif;
    height: 25rem;
    width: 10vw;
}
.THIS .content-slider
{  
  /*border: 3px solid #df2027;*/
  box-shadow: 12px 2px 20px #666;

}

.THIS .icons-line
{
    min-height:100%;
    
   /* border-right: 5px solid #df2027;*/
   	box-shadow: 10px -6px 6px #666;
    padding-bottom : 15px;
    
}

.THIS .padding
{
    padding-left: 10px;
    letter-spacing: 1px;
    
}

.THIS .containerDiv {
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    float:left !important;
}
.THIS .containerDiv2 {
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    float:right !important;
}

.THIS h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    
}

.THIS li {
    padding: 20px 20px;
    margin-bottom: 25px;
}
.THIS  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.THIS  .table-row {
    /*box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    transition: box-shadow .3s;*/
    height: 0px;
    border:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.THIS .right-row{
   /* border-bottom: 2px solid #95A5A6;*/
    padding-top:40px;
    width: 95%;
    box-shadow: 0px 4px 15px -6px #95a5a6;
   /* margin: 20px;*/
    margin:2%;
    height: fit-content;
}
.THIS .shadow-box:hover{
    /*box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;*/
    cursor: pointer;
    
}
.THIS .shadow-box-active
{
    padding: 3px;
    font-weight: 600;
    height: 60px;
    background-color: #df2027;
    color:white !important;
}
.THIS .icon-active
{
    --sds-c-icon-color-foreground-default: white !important;
	zoom: 0.7;
    padding-left: 30px;
    padding-top: 15px;
    
}
.THIS .my-icon {
    --sds-c-icon-color-foreground-default: #df2027 !important;
	zoom: 0.7;
    padding-left: 30px;
    padding-top: 15px;

}
.THIS .my-icon-regal {
    --sds-c-icon-color-foreground-default: #60269e !important;
	zoom: 0.7;
    padding-left: 30px;
    padding-top: 15px;

}
.THIS .shadow-box
{
      padding: 3%;
    color: #df2027;
    font-weight: 600;  
}
.THIS .padding-left{
    padding-left:10px;
}
.THIS  .col-1 {
    flex-basis: 100%;
}
.THIS .table-row .col{
    /*text-align: center;*/
}
.THIS .col-anchor
{
    display: table;
    border-bottom: solid 2px #df2027;
    margin: 16px 0;
    height:20px;
    width: 15%;
    float:right;
}

.THIS .href-button{
    box-sizing: border-box;
    color: #DF2027;
    float: right;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    font-style : italic;
    text-decoration : underline;
}

.THIS .list-view-title{
    color: #DF2027;
    font-weight: 500;
    font-size: 20px;
}

.THIS{
    width:100%;
    float:left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 3%;
	height: 25rem;
	min-height:500px;

}

@media screen and (max-width: 600px) {
    .THIS .content-slider
            {
        		width: auto !important;
        		height: 25rem !important;
    		}
	.THIS .list-header
            {
    			display:none;
			}
	.THIS .icons-line
            {
                box-shadow: none;
            }

}

@media screen and (min-width: 600px) {
    .THIS .content-slider{
        width: auto !important;
        height: 30rem !important;

    }
	.THIS .shadow-box{
        min-height: 9em;
        min-width: 6em;
    }
	.THIS .shadow-box-active{
        min-height:9em;
        min-width: 6em;
    }
}
@media only screen and (min-width: 768px) {
	.THIS .content-slider{
    	width: auto !important;
        height: 30rem !important;

    }
	.THIS .shadow-box{
        min-height: 9em;
        min-width: 7em;
    }
    .THIS .list-header{
        font-size:0.8em
    }
	.THIS .shadow-box-active{
        min-height: 9em;
        min-width: 7em;
    }
}

@media only screen and (min-width: 992px) {
	.THIS .content-slider{
        width: auto !important;
		height: 30rem !important;
    }
	.THIS .shadow-box{
        min-height: 6em;
		min-width: 5em;
    }
	.THIS .shadow-box-active{
        min-height: 6em;
		min-width: 5em;
    }
}
.THIS .icons-line::-webkit-scrollbar-thumb{
    background-color: rgb(223, 32, 39) !important;
    border-radius: 2px;
}

.THIS .icons-line::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
    border-radius: 2px;
}
.THIS .icons-line::-webkit-scrollbar {
    width: 3px !important;
}
        
.THIS .list-view-responsive-element::-webkit-scrollbar-thumb{
    background-color: rgb(223, 32, 39) !important;
    border-radius: 2px;
}

.THIS .list-view-responsive-element::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
    border-radius: 2px;
}
.THIS .list-view-responsive-element::-webkit-scrollbar {
    width: 3px !important;
}